.new-signup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width:100%;
    background: url(images/orange-web-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    input {
        width:400px;
        height:60px;
        padding: 17px 0 19px 20px;
        font-size: 18px;
        border-radius: 5px 0 0 5px;
        box-shadow: none;
        border:none;
        &:focus  { outline: none; }
    }
        
    .new-signup-submit { 
        background: white;
        float:right;
        position:relative;
        padding:10px;
        height:60px;
        border-radius: 0 5px 5px 0;
        
        button {
            height:40px;
            font-size: 18px;
        }
    }
}

.details {
    margin: 20px;
    padding: 10px;
    
    .calendar {
        border: solid 1px lightgray;
        width: 285px;
    }

    table tr {
        transition: background-color 1s linear;
    }

    tr.slots-enter
    {
        background-color:#dff0d8 !important;    
    }
}